*-srv
*tgz
bin
.idea
.idea/*
demo/.idea
.metadata/
bin/
.classpath
.project
.settings/
build/
!/src/web/build/
/src/web/node_modules
src/web/dist
src/web/vueadmin
src/yes/admin/dist
src/yes/admin/vueadmin
.svn/
application.*.conf
.DS_Store
.cache
*.iml
classes/
.directory
node_modules/
*.log
*.pdf
out/
.vscode/
/pkg
src/yes/admin/vueadmin/
src/web/vueadmin/
src/yes/admin/handler/path_func.go
pluginWeb
authWeb
/plugin
src/test
protoc
src/local
tars-cli.config.json
tars-cli
tars-cli*
build_tar_remote_so_go_module.sh
tmp.tmp
*.so
src/yes/assets/assets
dist.tar.gz
src/util/rpc/env/env.go
/local
/go.mod
/go.sum
src/sdk/datachannel