type {{.StructName}} struct {
    {{- range .Fields }}
    {{ .Name }} {{ .Type }} `{{ .Tag }}`
    {{- end }}
}

func New{{ .StructName }}({{ range .Fields }}{{ .Name }} {{ .Type }}, {{ end }}) *{{ .StructName }} {
    return &{{ .StructName }}{
        {{- range .Fields }}
        {{ .Name }}: {{ .Name }},
        {{- end }}
    }
}

{{- range .Fields }}
func (s *{{ $.StructName }}) Set{{ .Name }}(val {{ .Type }}) {
    s.{{ .Name }} = val
}

func (s *{{ $.StructName }}) Get{{ .Name }}() {{ .Type }} {
    return s.{{ .Name }}
}
{{- end }}